RewriteEngine On
RewriteBase /umadat/files/pages/login/

# Redirecionamento HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Impedir listagem de diretórios
Options -Indexes

# Página de erro 404 personalizada
ErrorDocument 404 /404.php

# Reescrita de URL amigável
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
