body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff7f7;
}

.container {
    width: 50%;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 0.8em;
    margin: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.2em;
}

button {
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 5px;
    border: none;
    background-color: #3150ff;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #3c62e0;
    color: #ffffff;
}

label {
    margin: 0.5em;
    font: 1em sans-serif;
    font-weight: bold;
}

.error {
    color: red;
    font: 1em sans-serif;
    margin: 0.5em;
}

.success {
    color: green;
    font: 1em sans-serif;
    margin: 0.5em;
}

a {
    color: #3cc1e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login_BT {
    width: 100%;
    height: 40px;
    font-size: large;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_login {
    margin: 1em;
    text-align: center;
    color: #24869e;
}

.login_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container_login {
    width: 396px;
    margin-top: 150px;
}

.criar_conta_BT {
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 5px;
    cursor: pointer;

    width: fit-content;
    font-size: large;
    background-color: #32ad2e;
    color: #fff7f7;
}

.criar_conta_BT:hover {
    background-color: #319929;
}